@import '../../assets/scss/utils/variables';
@import '../../assets/scss/colors.scss';

.section {
  @media screen and (max-width: $max-mobile) {
    padding-top: 110px;
    padding-bottom: 110px;
  }
  @media screen and (max-width: $max-tablet) {
    padding-top: 60px;
    padding-bottom: 196px;
  }
  // @media screen and (min-width: $tablet) {
  //   background: url('../../images/ellipse1-tablet.svg') no-repeat top right,
  //     url('../../images/ellipse2-tablet.svg') no-repeat bottom left, $bg-color;
  // }
  // @media screen and (min-width: $desktop) {
  //   background: url('../../images/ellipse1-desc.svg') no-repeat top right,
  //     url('../../images/ellipse2-desc.svg') no-repeat bottom left, $bg-color;
  // }
}

.container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: $mobile) {
    width: $mobile;
  }
  @media screen and (min-width: $tablet) and (max-width: $desktop - 1px) {
    width: $tablet;
    padding-left: 114px;
    padding-right: 114px;
  }
  @media screen and (min-width: $desktop) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: $desktop;
    padding-left: 76px;
    padding-right: 0;
  }
}
