@import '../../../assets/scss/colors.scss';
@import '../../../assets/scss/utils/variables';

.select {
  width: 166px;
  height: 50px;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 30px;
  @media screen and (max-width: $max-mobile) {
    width: 280px;
  }
}
.form {
  display: flex;
  margin-bottom: 20px;

  @media screen and (max-width: $max-mobile) {
    flex-direction: column;
  }
}
.form :first-child {
  margin-right: 20px;
  @media screen and (max-width: $max-mobile) {
    margin-bottom: 20px;
  }
}
