@import '../../../assets/scss/utils/variables';

.chart {
  //   outline: 1px solid red;
  position: relative;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;

  width: 280px;
  height: 280px;

  @media screen and (min-width: $min-tablet) {
    width: 320px;
    height: 320px;
    // width: 350px;
    // height: 350px;
  }
}

.balance {
  position: absolute;
  top: 65%;
  left: 40%;
  font-weight: 700;
}
