// @import '../../assets/scss/components/reused';
// @import '../../assets/scss/index.scss';

.dashboard {
  padding: 0 0 35px;
}

@media screen and (min-width: 768px) {
  .dashboard {
    backdrop-filter: blur(50px);

    & .container {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      height: 100vh;
    }
  }
}

@media screen and (min-width: 1280px) {
  .dashboard {
    padding-top: 40px;
    backdrop-filter: blur(50px);

    & .container {
      flex-direction: row;
      justify-content: space-between;
      padding: 0;
      height: 100vh;
    }
  }
}
