@import '../../../assets/scss/colors.scss';
@import '../../../assets/scss/utils/variables';

thead:first-child tr {
  height: 58px;
  border-radius: 25px;
  background: $main-bg;
  border: 1px solid transparent;
}

.box {
  height: 24px;
  width: 24px;
  margin-right: 16px;
}
.commonContainer {
  display: flex;
}

.th {
  text-align: left;
}

.raw {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 54px;
}

table {
  // outline: 1px solid blue;

  width: 100%;
  border-collapse: collapse;
}
.tableHead {
  font-size: 18px;
}

tr {
  // background: #e7eaf2;
  border-bottom: 1px solid $border-table;
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.6);
  padding-left: 20px;
  padding-right: 20px;
}

tfoot:last-child tr {
  // background: turquoise;
  border: 1px solid transparent;
  box-shadow: none;

  height: 24px;
  margin: 10px 0;
}

.mainContainer {
  // outline: 1px solid red;
  background: $bg-color;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  // паддинги для родительского контейнера
  // padding-left: 20px;
  // padding-right: 20px;

  @media screen and (min-width: $mobile) {
    width: 280px;
  }

  @media screen and (min-width: $tablet) {
    width: 350px;
    // паддинги для родительского контейнера
    // padding-left: 40px;
    // padding-right: 40px;
    margin-right: 0;
  }

  // @media screen and (min-width: $desktop) {
  //   // паддинги для главного контейнера/секции

  //   padding-left: 85px;
  //   padding-right: 85px;
  // }
}

.manyCategory {
  font-weight: 700;
}
.expenses {
  color: $btn-lose;
}
.income {
  color: $btn-profit;
}
