@import '../../assets/scss/utils/variables';
@import '../../assets/scss/colors.scss';

.registrationContainer {
  display: flex;
  justify-content: center;

  @media screen and (min-width: $tablet) and (max-width: $max-tablet) {
    flex-direction: column;
    align-items: center;
  }
}

.regIcon {
  @media screen and (min-width: $tablet) and (max-width: $max-tablet) {
    display: flex;
  }
}

.registerIcon {
  width: 452px;
  height: 413px;
  margin-top: 153px;
  margin-bottom: 32px;
  margin-right: 42px;
  // margin-left: 66px;

  @media screen and (min-width: $tablet) and (max-width: $max-tablet) {
    width: 274px;
    height: 250px;
    margin-top: 60px;
    margin-bottom: 50px;
    margin-right: 40px;
    margin-left: 114px;
  }

  @media screen and (min-width: $mobile) and (max-width: $max-mobile) {
    display: none;
  }
}

.registrationTitle {
  font-family: $second-font;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 45px;

  text-align: center;

  @media screen and (min-width: $tablet) and (max-width: $max-tablet) {
    text-align: right;

    margin-right: 153px;
    margin-top: 163px;
  }

  @media screen and (min-width: $mobile) and (max-width: $max-mobile) {
    display: none;
  }
}

.form {
  display: flex;
  flex-direction: column;

  margin: 0;
  padding: 36px 20px;

  background: #fff;
  // width: 540px;
  // height: 616px;
  // padding: 40px 65px 60px 65px;
  // margin-top: 52px;
  // margin-bottom: 52px;
  // margin-left: 95px;
  // border-radius: 20px;

  @media screen and (min-width: $max-mobile) {
    max-width: $max-mobile;
  }

  @media screen and (min-width: $tablet) {
    width: 540px;
    max-width: 540px;
    height: 616px;
    padding: 40px 65px 60px 65px;
    border-radius: 20px;
  }
}

.logContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.input-container {
  position: relative;
  width: 280px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: $tablet) {
    width: 410px;
  }
}

.email,
.password {
  width: 280px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: $tablet) {
    width: 410px;
  }
}

.password-confirm {
  width: 280px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: $tablet) {
    width: 410px;
  }
}

// .progressbar {
//   margin-bottom: 30px;
// }

.input {
  width: 100%;
  height: 34px;
  padding: 10px 10px 10px 55px;
  border: none;
  border-bottom: 1px solid;
  border-color: rgba(33, 33, 33, 0.2);

  &:focus {
    outline: none;
  }

  &::placeholder {
    font-family: Circe;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #bdbdbd;
  }
}

.error {
  position: absolute;
  font-family: Circe;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: #ff0000;

  margin-top: 5px;
}

.button {
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 13px 55px;
  border-radius: 20px;
  cursor: pointer;
  font-family: Circe;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  background: #ffffff;
  border: 1px solid #4a56e2;
  color: #4a56e2;
  transition: all 250ms ease;
  @media screen and (min-width: $tablet) {
    width: 300px;
    margin: 0 auto;
  }

  @media screen and (min-width: $mobile) and (max-width: $max-mobile) {
    width: 280px;
  }
}

.button:hover,
.button:focus {
  transform: scale(1.1);
}

.current-button {
  margin-top: 40px;
  margin-bottom: 20px;
  border: none;
  background: #24cca7;
  color: #ffffff;
  @media screen and (min-width: $tablet) {
    margin-top: 50px;
  }
}

.progressbar {
  position: absolute;
  width: 100%;
}

.password-strength-meter {
  text-align: left;
}

.password-strength-meter-progress {
  position: absolute;
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 4px;
  margin-top: 5px;
  border-radius: 4px;
}

.password-strength-meter-progress::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 3px;
}

.password-strength-meter-label {
  display: none;
  // font-size: 14px;
  // margin-left: 375px;
  // color: $text-cansel;
}

.password-strength-meter-progress::-webkit-progress-value {
  border-radius: 2px;
  background-size: 35px 20px, 100% 100%, 100% 100%;
}

.strength-Weak::-webkit-progress-value {
  background-color: #f25f5c;
}
.strength-Fair::-webkit-progress-value {
  background-color: #ffe066;
}
.strength-Good::-webkit-progress-value {
  background-color: #247ba0;
}
.strength-Strong::-webkit-progress-value {
  background-color: #70c1b3;
}
