@import '../../assets/scss/utils/variables';

.loginContainer {
  display: flex;
  justify-content: center;

  @media screen and (min-width: $tablet) and (max-width: $max-tablet) {
    flex-direction: column;
    align-items: center;
  }
}

.logIcon {
  @media screen and (min-width: $tablet) and (max-width: $max-tablet) {
    display: flex;
  }
}

.loginIcon {
  width: 435px;
  height: 419px;
  margin-top: 150px;
  margin-bottom: 28px;
  margin-right: 49px;
  // margin-left: 66px;

  @media screen and (min-width: $tablet) and (max-width: $max-tablet) {
    width: 260px;
    height: 250px;
    margin-top: 60px;
    margin-bottom: 50px;
    margin-right: 40px;
    margin-left: 114px;
  }

  @media screen and (min-width: $mobile) and (max-width: $max-mobile) {
    display: none;
  }
}

.loginTitle {
  font-family: $second-font;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 45px;

  text-align: center;

  @media screen and (min-width: $tablet) and (max-width: $max-tablet) {
    text-align: right;

    margin-right: 153px;
    margin-top: 163px;
  }

  @media screen and (min-width: $mobile) and (max-width: $max-mobile) {
    display: none;
  }
}

.loginForm {
  display: flex;
  flex-direction: column;
  min-height: 568px;
  height: 100vh;
  margin: 0;
  padding: 110px 20px;
  background: #fff;

  @media screen and (min-width: $max-mobile) {
    max-width: $max-mobile;
  }

  @media screen and (min-width: $tablet) {
    width: 540px;
    max-width: 540px;
    height: 468px;
    min-height: 468px;
    padding: 40px 65px 60px 65px;
    border-radius: 20px;
  }
}

.logLoginContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.input-logContainer {
  position: relative;
}

.email,
.password {
  width: 280px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: $tablet) {
    width: 410px;
  }
}

.logInput {
  width: 100%;
  height: 34px;
  padding: 10px 10px 10px 55px;
  border: none;
  border-bottom: 1px solid;
  border-color: rgba(33, 33, 33, 0.2);

  &:focus {
    outline: none;
  }

  &::placeholder {
    font-family: $main-font;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #bdbdbd;
  }
}

.loginError {
  position: absolute;
  font-family: $main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: #ff0000;
}

.logButton {
  height: 50px;
  margin-left: auto;
  margin-right: auto;

  padding: 13px 55px;
  border-radius: 20px;
  cursor: pointer;
  font-family: $main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  background: #ffffff;
  border: 1px solid #4a56e2;
  color: #4a56e2;
  transition: all 250ms ease;
  @media screen and (min-width: $tablet) {
    width: 300px;
    margin: 0 auto;
  }

  @media screen and (min-width: $mobile) and (max-width: $max-mobile) {
    width: 280px;
  }
}

.logButton:hover,
.logButton:focus {
  transform: scale(1.1);
}

.logCurrent-button {
  // margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  border: none;
  background: #24cca7;
  color: #ffffff;
  @media screen and (min-width: $tablet) and (max-width: $max-tablet) {
    // margin-top: 50px;
  }
}

.loginIconEye {
  position: absolute;
  top: 10px;
  right: 3px;
  display: inline-block;
  border: none;
  color: #535353;
  background-color: transparent;
}
