@import '../../../assets/scss/utils/variables';
@import '../../../assets/scss/colors.scss';

.userMenuContainer {
    display: flex;
    align-items: center;
}

.userAvatar {
    width: 15px;
    margin-right: 5px;

    @media screen and (min-width: $tablet) {
        width: 20px;
        margin-right: 10px;
    }

    @media screen and (min-width: $desktop) {
        width: 25px;
    }
}

.userName {
    display: inline-block;

    margin-right: 10px;
    padding-right: 15px;

    border-right: 1px solid $text-passive-toggle;

    font-size: 18px;
    color: $text-passive-toggle;
    

    @media screen and (min-width: $tablet) {
        margin-right: 15px;
      }
}

.buttonLoggout {
    display: inline-flex;
    align-items: center;
    border: 0;

    font-size: 18px;
    color: $text-passive-toggle;
    background-color: transparent;
}

.buttonText {
    display: none;

    @media screen and (min-width: $tablet) {
        display: block;
    }
}