@import '../../../assets/scss/colors.scss';
@import '../../../assets/scss/utils/variables';

th {
  @media screen and (max-width: $min-tablet) {
    text-align: left;
    padding-left: 20px;
  }
}

td {
  @media screen and (max-width: $min-tablet) {
    text-align: right;
    padding-right: 20px;
  }
}

.container {
  max-height: 55vh;
  overflow: scroll;
  // width: 320px;
}

.item {
  table-layout: fixed;
  width: 280px;
  // height: 282px;
  margin: 0 auto;
  background-color: $main-bg;
  margin-bottom: 10px;
  // padding: 0 20px;
  border-radius: 6px;
  border-left: 4px solid;
}

.item tr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 270px;
  height: 9vh;
}

.item tr:not(:last-child) {
  border-bottom: 1px solid $border-table;
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.6);
}

.profit {
  color: $text-profit;
}

.lose {
  color: $text-lose;
}
