@import '../../../assets/scss/colors.scss';
@import '../../../assets/scss/utils/variables';

th {
  @media screen and (max-width: $min-tablet) {
    text-align: left;
    padding-left: 20px;
  }
}

td {
  @media screen and (max-width: $min-tablet) {
    text-align: right;
    padding-right: 20px;
  }
}

.container {
  max-height: 55vh;
  overflow: scroll;
  margin-top: 30px;
  // width: 320px;
}

.item {
  table-layout: fixed;
  width: 280px;
  height: 282px;
  margin: 0 auto;
  background-color: $main-bg;
  margin-bottom: 10px;
  padding: 0 20px;
  border-radius: 6px;
  border-left: 4px solid;
}

.profit {
  color: $text-profit;
}

.lose {
  color: $text-lose;
}
