@import '../../assets/scss/colors.scss';

.popupContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  min-height: 180px;
  max-width: 500px;
  width: 100%;

  padding: 20px;
  background-color: #fff;
  border-radius: 20px;

  font-size: 25px;
  text-align: center;
}

.popupQuestion {
  margin-bottom: 30px;
}

.popupButton {
  width: 100px;
  border-radius: 20px;
  border: 0;
  color: $secondary-text;
  background-color: $text-profit;
  cursor: pointer;
}

.popupButton:last-child {
  margin-left: 10px;
  border: 1px solid $text-cansel;
  background-color: transparent;
  color: $text-cansel;
}

.popupButton:last-child:hover {
  box-shadow: 0px 0px 26px 1px #4a56e2;
}

.popupButton:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 26px 1px #24cca7;
}
