@import '../../../assets/scss/utils/variables';
.commentContainer {
  margin-bottom: 40px;
}

.commentInput {
  width: 100%;
  padding: 0 20px 10px 20px;
  height: 75px;
  font-family: $main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.5;
  color: #000000;
  border: none;
  background: transparent;
  border-bottom: 1px solid #e0e0e0;
  outline: none;
}

.commentInput::placeholder {
  color: #bdbdbd;
}

.error {
  color: red;
}