@import '../../assets/scss/colors.scss';

.divider {
  background-color: $divider-color;
  box-shadow: -1px 0px 0px rgba(0, 0, 0, 0.05),
    1px 0px 0px rgba(255, 255, 255, 0.6);
  width: 2px;
  min-height: 100vh;
}
