@import '../../assets/scss/colors.scss';
@import '../../assets/scss/utils/variables';

.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.fireworksButton {
  display: none;
  @media screen and (min-width: $min-tablet) {
    display: block;
    position: absolute;
    top: 10px;
    left: 50%;
    cursor: pointer;
    background-color: transparent;
    border: none;
    z-index: 999;
    opacity: 0.5;
    transition: opacity 250ms cubic-bezier();

    &:hover,
    &:focus {
      opacity: 1;
    }
  }
}
