.table {
  background: #ffffff;
  background: #4a56e2;
  border-radius: 30px;
}
.table th {
  font-family: Circe;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
}
.table td {
  font-family: Circe;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
}

.div {
  width: 348px;
  height: 347px;
  color: #ffffff;
  background: #4a56e2;
}
.oneLine {
  height: 60px;
}
.vector {
  height: 134px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.2) -7.46%,
    rgba(255, 255, 255, 0) 100%
  );
}
